.navbar ul{
    display: inline;
    display: flex;
    padding:10px;
    float:right;
}
.navbar a{
    color:white;
    text-decoration:underline;
    &:hover{
        text-decoration: none;
    }
    font-size: 20px;
}
.navbar li{
    margin-right: 50px;
   list-style-type:none;
}
.body{
    background-image: url('gif1.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  &:hover{
    scroll-behavior: smooth;
  }
}
h1{
    color:white;
}
.click{
    text-align: center;
    justify-content: center;
    height: 100vh;
    align-items:center;  
    display: flex;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}